<div class="bg-white">
  <div class="mx-auto max-w-7xl py-24 sm:px-6 sm:py-32 lg:px-8">
    <div
      class="relative isolate overflow-hidden bg-gray-900 px-6 pt-16 shadow-2xl sm:rounded-3xl sm:px-16 md:pt-24 lg:flex lg:gap-x-20 lg:px-24 lg:pt-0"
    >
      <svg
        viewBox="0 0 1024 1024"
        class="absolute top-1/2 left-1/2 -z-10 size-256 -translate-y-1/2 mask-[radial-gradient(closest-side,white,transparent)] sm:left-full sm:-ml-80 lg:left-1/2 lg:ml-0 lg:-translate-x-1/2 lg:translate-y-0"
        aria-hidden="true"
      >
        <circle
          cx="512"
          cy="512"
          r="512"
          fill="url(#759c1415-0410-454c-8f7c-9a820de03641)"
          fill-opacity="0.7"></circle>
        <defs>
          <radialGradient id="759c1415-0410-454c-8f7c-9a820de03641">
            <stop stop-color="#7775D6"></stop>
            <stop offset="1" stop-color="#E935C1"></stop>
          </radialGradient>
        </defs>
      </svg>
      <div
        class="mx-auto max-w-md text-center lg:mx-0 lg:flex-auto lg:py-32 lg:text-left"
      >
        <h2
          class="text-4xl font-semibold tracking-tight text-balance text-white"
        >
          さあ、今すぐ転職サポートを受けましょう
        </h2>
        <p class="mt-6 text-lg/8 text-pretty text-gray-300">
          どんなタクシー会社があるのかの質問だけでも構いません。まずはお気軽にお問い合わせください
        </p>
        <div
          class="mt-10 flex flex-col sm:flex-row items-center justify-center gap-4 sm:gap-x-6 lg:justify-start"
        >
          <a
            href="/lp-1/"
            target="_blank"
            class="w-full sm:w-auto rounded-md bg-white px-3.5 py-2.5 font-semibold text-gray-900 shadow-xs hover:bg-gray-100 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white inline-flex items-center justify-center gap-2"
            >転職支援サービスに登録
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="size-5"
            >
              <path
                fill-rule="evenodd"
                d="M8.25 3.75H19.5a.75.75 0 0 1 .75.75v11.25a.75.75 0 0 1-1.5 0V6.31L5.03 20.03a.75.75 0 0 1-1.06-1.06L17.69 5.25H8.25a.75.75 0 0 1 0-1.5Z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
          <a
            href="/contact/"
            class="w-full sm:w-auto text-center font-semibold text-white"
            >メールで求人を受け取る<span aria-hidden="true">→</span></a
          >
        </div>
      </div>
      <div class="relative mt-16 h-80 lg:mt-8">
        <img
          class="absolute top-10 -left-16 w-228 max-w-none rounded-md"
          src="/images/taxi-left.png"
          alt="App screenshot"
          width="1824"
          height="1080"
        />
      </div>
    </div>
  </div>
</div>
